<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body style="text-align:center;">

    <header class="page-header" role="banner" style="padding-bottom:0px">
      <h1 class="project-name">Dracula</h1>
      <h2>a Real-Time Strategy Game Prototype</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      <header>
        <h1 style="font-size:32px">Description</h1>
      </header>
      Dracula is a prototype RTS game developed in Unity that explores systems such as hierarchical state-based AI, managing many game agents, dynamic UI handling, and more.
      <br><br>
      Custom shaders are used for the reflective crystal textures and barrier textures, and lighting is handled using Unity tools.
      <br><br>
      All scripts, shaders, and models were created by Adam Khaddaj and <a href="https://github.com/LeoMcCarthyKennedy">Leo McCarthy-Kennedy</a> 
      <br><br>
      Ambient music created by Adam Khaddaj.
      <br><br>
      3D animations are implemented using Mixamo.
      <header>
        <h1 style="font-size:32px; padding-top:10px">Gameplay Video</h1>
      </header>
      <iframe width="830" height="485" src="https://www.youtube.com/embed/8-zZm7djzhU?si=i82bV2xh2q1Q-KF-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>      <header>
      <header>
        <h1 style="font-size:32px;">Screenshots</h1>
      </header>
      <img src="Images/Capture.PNG" alt="Image" width="950" height="480">
      <img src="Images/thePalace.PNG" alt="Image" width="950" height="480">
      <img src="Images/siege.PNG" alt="Image" width="950" height="480">
      <img src="Images/bigGuy.PNG" alt="Image" width="950" height="480">

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
